{% load static %}
<html>
    <head>
        <title>Relatórios - The Pilgrim</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/pilgrim.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">The Pilgrim</a></h1>
        </div>

    </body>
</html>
